section.login-conteneur{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 900px;
  padding: 20px;
  margin: 0 auto;
}

.formulaire-envoye, .formulaire-question{
  width: 520px;
  padding: 20px;
  border: 2px solid gray;

}